[user]
	name = silijon
	email = john.w.dennis@gmail.com
[core]
	symlinks = false
	preloadindex = true
	fscache = true
	editor = vim
	autocrlf = input
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = true
[push]
	default = simple
[gc]
	auto = 256
[merge]
    tool = vs
[mergetool "vs"]
    cmd = /home/john/win-home/dot-config/win_merge.sh merge $LOCAL $REMOTE $BASE $MERGED
    trustExitCode = false
[mergetool]
    keepBackup = false
[diff]
    tool = vs
[difftool "vs"]
    cmd = /home/john/win-home/dot-config/win_merge.sh diff $LOCAL $PWD/$REMOTE
[pull]
	rebase = false
