[user]
	name = silijon
	email = john.w.dennis@gmail.com
[core]
	symlinks = false
	preloadindex = true
	fscache = true
	editor = vim
	autocrlf = input
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = true
[push]
	default = simple
[gc]
	auto = 256
[pull]
	rebase = false
[maintenance]
	repo = /home/john/.config/zsh/znap
	repo = /home/john/.config/zsh/marlonrichert/zsh-autocomplete
	repo = /home/john/.config/zsh/zsh-users/zsh-autosuggestions
	repo = /home/john/.config/zsh/zsh-users/zsh-syntax-highlighting
