[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter
[submodule ".vim/bundle/dbext.vim"]
	path = .vim/bundle/dbext.vim
	url = git@github.com:vim-scripts/dbext.vim.git
    ignore = untracked
[submodule ".vim/bundle/vim-ps1"]
	path = .vim/bundle/vim-ps1
	url = git@github.com:PProvost/vim-ps1.git
    ignore = untracked
